# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
ml/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# Data, models, figures
models/

*.pkl
*.pth
*.h5
*.ckpt
*.npz
*.npy

# Logs
*.log

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
